body {
    background-image: url("https://dzone.com/storage/temp/12518623-clouds.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.cities {
    background-color: lightgray;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    height: 400px;
}

@media only screen and (max-width: 1000px) {
    .cities {
        margin-left: 25px;
    }
}

header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    margin-top: 60px;
    margin-bottom: 80px;
    color: white;
}

.title {
    font-weight: normal;
    font-size: 80px;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 50px;
    }
}

#weatherContainer, #forecastContainer, .cities {
    background-color: rgb(223, 223, 223);
    opacity: 0.9;
    margin-bottom: 10px;
}

#forecast {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;    
    font-weight: bold;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-size: 25px;
    position: relative;
    bottom: 20px;
    color: darkolivegreen;
}

img {
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

h3, b, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

h5 {
    text-align: center;  
}

#cityList:hover {
    background-color: rgb(223, 223, 58);
}

#cityList:active {
    background-color: white;
}

.txtbox {
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#search {
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 5px 2px 3px white;
    border-radius: 20px;
}

#search:hover {
    background-color: rgb(80, 127, 185);
}

p {
    font-size: 25px;
    background-color: rgb(133, 191, 133);
}
